body{
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: hsl(117, 32%, 85%);
}

.catprofile {
    margin: 1rem;
    display: flex;
    width: 550px;
    flex-wrap: wrap;
    font-family: Inter, sans-serif;
    background-color: hsl(117, 32%, 73%);
    border-radius: 5px;
    
}

.block1 {
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-basis:auto;
    padding-left: 16px;
    
}

.block2 {
    width: 52%;
    overflow: hidden;
    border-radius: 5px;

}

.block3 {
    width: 50%;
}

.catprofile--img {
    height: 300px;
    width: auto;
    margin-left: -5rem;
    border-radius: 5px;
   
}

.catprofile--names {
    font-family: Mochiy Pop P One, sans-serif;
    text-justify: center;
    font-size: 3vh;
    
}

.catprofile--description {
font-size: 15px;
}

.catprofile--rescue {

}

.catprofile--generalcare {
    text-align: center;
}

.catprofile--specialneeds {
    text-align: left;
    padding: 1rem;
}

.catprofile--adoptionfee {
    text-align: center;
}

.catprofile--grid{
width: 1fr;
display: grid;
grid-template-columns: repeat(1, 2rem 3fr);
text-align: center;
align-content: auto;
padding: .5rem .1rem;
grid-gap: 1px;
}

.catprofile--grid > div {
    
    border-color: black;
    border: 2px solid;
    border-radius: 1px;
    margin-bottom: 5px;
}

.foot {
    display: flex;
    text-justify: center;
    text-align: center;
    font-size: 15px;
    padding: 1rem;
    background-color: hsl(117, 32%, 58%);
    border-radius: 0 0 5px 5px;
}